@font-face {
    font-family: 'PixelifySans';
    src: url('PixelifySans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(232, 182, 134);
    margin: 0;
    padding: 10px;
    font-family: 'PixelifySans', sans-serif;
}

h1 {
    padding-left: 30px;
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    color: rgb(255, 228, 228);
    margin: 0;
    font-size: 1.5rem;
}

header {
    height: 150px;
    background-color: rgb(168, 2, 32);
    display: flex;
    align-items: center;
}

nav {
    height: 100px;
    background-color: #1f492a;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    min-height: 400px;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
}

.aside1 {
    background-color: #0b2e00;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.aside2 {
    background-color: #0b2e00;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-content {
    flex: 1;
    background-color: #032d0c;
    padding: 20px;
    border-radius: 5px;
}

.content-block {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 100px;
}

footer {
    background-color: #a60000;
    color: white;
    height: 100px;
    margin-top: 380px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.sidebar-right {
    width: 200px;
    background-color: #0b2e00;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}